@import '../../main.scss';

.cart {
  &-title {
    font-size: 30px;
    color: $black;
    margin: 0 0 30px 0;
  }
  &-message {
    font-size: 20px;
    line-height: 30px;
    color: $black;
    margin: 0 0 30px 0;
  }
  > a {
    font-size: 20px;
    color: $red;
    margin: 0 0 30px 0;
  }
}
