@import '../../main.scss';

.product {
  &-card {
    width: 100%;
    padding: 20px;
  }
  &-info {
    display: flex;
    gap: 30px;
  }

  &-thumbnail {
    width: 70%;

    > img {
      width: 100%;
      height: auto;
    }
  }

  &-description {
    width: 25%;
    padding: 30px;
  }

  &-description-item {
    font-size: 18px;
    color: $black;
    margin: 0 0 20px 0;
    font-weight: 600;
    > span {
      font-weight: 400;
    }
  }
}
